<!DOCTYPE html>
<html>

<head>
    <title>Utepils Beer Removal</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="../static/app.js"></script>
    <script src="https://kit.fontawesome.com/be72311f66.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>

<body>
    {% block content %}
    {% endblock %}
</body>
<footer id="main-footer">
    <div class="footer-content">
        <p>Logan Block Copyright &copy; 2021. All Rights Reserved</p>
        <div class="social">
            <a href="https://www.linkedin.com/in/blocklogan"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>
</html>